@use '../../scss/variables' as *;

.list {
    margin-top: 20px;
    overflow: hidden;
    width: 100%;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__all-movies {
        text-decoration: underline;
        font-weight: 300;
        font-size: 14px;
    }

    &__wrapper {
        position: relative;
    }

    &__items {
        display: flex;
        margin-top: 10px;
        margin-left: 50px;
        transition: all 0.5s ease;
    }

    &__title {
        display: inline-block;
        color: $black-color;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 10px;
    }
}