$font-family: 'Montserrat', sans-serif;

// Colors
$black-color: #0f0f0f;
$gray-color: #adababd2;
$red-color: #ff0000;
$white-color: #fff;

// Breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xxl: 1200px;


